*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.presentazione{
    width: 100%;
    height: 1000vh;
    min-height: 280px;
    max-height: 800px;
    position: relative;
    z-index: 10;
    overflow: hidden;
    background-color: #87969f;
    border: 2px red solid;
}

.ph-comp{
    overflow: hidden;
}
.ph-comp img{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

#comp-persona{
    z-index: 4;
    animation: persona-animation 50s linear 5s infinite;
}

@keyframes persona-animation{
    0%{transform: scale(1);}
    50%{transform: scale(0.9);}
    100%{transform: scale(1);}
}

#comp-sassi{
    z-index: 3;
}

#comp-vegetazione{
    z-index: 2;
    animation: vegetazione-animation 30s linear 2s infinite;
}

@keyframes vegetazione-animation{
    0%{transform: scale(1);}
    50%{transform: scale(1.06);}
    100%{transform: scale(1);}
}

#comp-montagne{
    z-index: 1;
}

.dark-animation{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, 
        rgba(0,0,0,0.18) 0%,
        rgba(0,0,0,0.78) 86%);
    animation-name: bordi-neri;
    animation-duration: 3.5s;
    z-index: 10;
}

/*animazione bordi neri*/
@keyframes bordi-neri {
    0%{width: 500%;}
    50%{width: 500%;}
    100%{width: 100%;}
}

@media (min-width:1025px){
    .presentazione{
        padding: 10%;
        border: red 3px solid;
    }
}